<!-- <ion-menu [content]="content"></ion-menu> -->


<ion-header>
  <ion-navbar>
      <!-- <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button> -->
    <ion-title>
      Deliver It
    </ion-title>

    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-list-header>
      Notes
    </ion-list-header> -->
    <!-- <ion-buttons center>
      <button full navPush="AddNotePage" ion-button>
        <ion-icon>Add Order</ion-icon>
      </button>
    </ion-buttons>

    <ion-buttons>
      <button full navPush="AddNotePage" ion-button>
        <ion-icon>Open For Delivery</ion-icon>
      </button>
    </ion-buttons> -->

    <ion-list-header>
      Yet to be accepted
    </ion-list-header>
    <div *ngFor="let note of noteList | async">
    <ion-item  *ngIf="(currentuboi == note.uboi) && (note.pbit)"
    detail-push navPush="EditNotePage" [navParams]="{note:note}">
      Items : {{note.items}}
      <br>
      Cost : {{note.cost}}
      <br>
      Location : {{note.loc}}
      
    </ion-item>
  </div>
  <ion-list-header>
    Yet to be delivered
  </ion-list-header>
  <div [style.background-color]="aColor" *ngFor="let note of noteList | async">
    <ion-item  *ngIf="(currentuboi == note.uboi) && (!note.pbit && note.ibit)"
    detail-push navPush="EditNotePage" [navParams]="{note:note}">
      Items : {{note.items}}
      <br>
      Cost : {{note.cost}}
      <br>
      Location : {{note.loc}}

    </ion-item>
  </div>
  <ion-list-header>
    Delivered
  </ion-list-header>
  <div *ngFor="let note of noteList | async">
    <ion-item  *ngIf="(currentuboi == note.uboi)&&(!note.pbit && !note.ibit)"
    detail-push navPush="EditNotePage" [navParams]="{note:note}">
      Items : {{note.items}}
      <br>
      Cost : {{note.cost}}
      <br>
      Location : {{note.loc}}
      
    </ion-item>
  </div>
  </ion-list>
</ion-content>