<!-- <ion-menu [content]="content"></ion-menu> -->


<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      Deliver It
    </ion-title>

    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!-- <ion-list-header>
      Notes
    </ion-list-header> -->
    <ion-buttons center>

      <button full round navPush="AddNotePage" ion-button icon-right>
      Add Item  <ion-icon name="add-circle" item-right></ion-icon>

      </button>
    </ion-buttons>

    <ion-list-header>
      Your Deliveries
    </ion-list-header>
    <div *ngFor="let note of noteList | async">
    <ion-item  *ngIf="(currentdboi == note.dboi) && (note.ibit)"
    detail-push navPush="DisplayPage" [navParams]="{note:note}">
      {{note.uboi}}
      <br>
      Delivery : {{note.myloc}}
      <br>
      Pickup : {{note.loc}}
      
    </ion-item>
  </div>
  </ion-list>
</ion-content>