page-details {
    #text{
        height: 100%;
        font-weight: lighter;
        text-align: left;
    }
    .content {
        //background-color: color($colors, primary);
        //background-image: url(../assets/imgs/green.jpg);
        font-family: 'Lato-Light';
        font-weight: normal;
      }
}
